@page
@using WaterManagerUI.Model.Item
@model WaterManagerUI.Pages.richieste.RichiesteSospeso

<link rel="stylesheet" href="~/css/site.css"/>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("layout/GestoreIdrico/_SideMenuGestoreIdrico")
        </div>
        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    <h2>Visualizza richieste idriche in sospeso</h2>
                </div>
            </div>

            @if (Model.user.bacinoIdrico.richieste.Any())
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Quantità</th>
                        <th>Nome azienda</th>
                        <th>Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (RichiestaIdrica richiesta in Model.user.bacinoIdrico.richiesteSospeso())
                    {
                        var link = Url.Page("/Bacino/richieste/VisualizzaRichiestaB", new { richiestaId = richiesta.id });
                        <tr onclick="window.location='@link'">
                            <td>@richiesta.quantita</td>
                            <td>@richiesta.nomeAzienda</td>
                            <td>@richiesta.date</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>Non sono presenti richieste da visualizzare</p>
            }
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>