@page
@model WaterManagerUI.Pages.SensorType

<link rel="stylesheet" href="css/site.css"/>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("layout/Admin/_SideMenuAdmin")
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    <h2>Visualizza tipologie sensore</h2>
                </div>
            </div>
            @if (Model.types.Any())
            {
                <div class="bottoni-azione">
                    <a asp-page="/Admin/Crea/CreaSensorType" class="bottone-aggiungi" style="text-decoration: none; color: inherit; color: #13b400">
                        Aggiungi tipologia
                    </a>
                    <a asp-page="/Admin/Elimina/EliminaSensorType" class="bottone-aggiungi" style="text-decoration: none; color: inherit; border: 2px dashed #ff0000; color: #ff0000">
                        Elimina tipologia
                    </a>
                </div>
            }
            else
            {
                <a asp-page="/Admin/Crea/CreaSensorType" style="text-decoration: none; color: inherit; grid-column: span 4">
                    <div class="bottone-aggiungi">
                        Aggiungi tipologia
                    </div>
                </a>
            }
            @if (Model.types.Any())
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (String type in Model.types)
                    {
                        <tr>
                            <td>@type</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>