@page
@model WaterManagerUI.Pages.Crea.CreaEsigenza

<link rel="stylesheet" href="css/site.css"/>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Crea esigenza idrica</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="esigenza">Esigenza</label>
                    <input asp-for="esigenza" class="form-control"/>
                    <span asp-validation-for="esigenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-button">Crea esigenza</button>
                </div>
            </form>
        </div>
    </div>
</div>