<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Properties>
        <Property name="log-path">/Users/alessandrogattico/Documents/progetti/WaterManager/AppLog</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{dd-MM HH:mm:ss} %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="file-log" fileName="${log-path}/WaterManager.log"
                     filePattern="${log-path}/WaterManager-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{dd-MM HH:mm:ss} %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="sql-log" fileName="${log-path}/WaterManagerSQL.log"
                     filePattern="${log-path}/WaterManagerSql-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{dd-MM HH:mm:ss} %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <appender-ref ref="file-log"/>
        </Root>
        <Logger name="sql" level="info" additivity="false">
            <appender-ref ref="sql-log"/>
        </Logger>
    </Loggers>
</Configuration>
