@model WaterManagerUI.Model.Item.Campagna

<div class="bottone-aggiungi">
    <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.id" class="plus-icon">+</a>
    <a asp-page="/Azienda/Crea/CreaCampo" asp-route-campagnaId="@Model.id">Aggiungi campo</a>
</div>
