@model WaterManagerUI.Model.Item.Campo

<div class="bottone-aggiungi">
    <a asp-page="/Azienda/Crea/CreaColtivazione" asp-route-campoId="@Model.id" class="plus-icon">+</a>
    <a asp-page="/Azienda/Crea/CreaColtivazione" asp-route-campoId="@Model.id">Aggiungi coltivazione</a>
</div>