@model WaterManagerUI.Model.Item.Campo

<div class="bottone-aggiungi">
    <a asp-page="/Azienda/Crea/CreaSensore" asp-route-campoId="@Model.id" class="plus-icon">+</a>
    <a asp-page="/Azienda/Crea/CreaSensore" asp-route-campoId="@Model.id">Aggiungi sensore</a>
</div>
