<link rel="stylesheet" href="css/site.css"/>

<aside class="flex-container">
    <span>
        <ul>
            <div>
                <a asp-page="/Admin/Admin" class="btn btn-sidebar"
                   asp-page-class="active">
                    Gestione
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Users/UsersAzienda" class="btn btn-sidebar"
                   asp-page-class="active">
                    Gestori Azienda
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Users/UsersBacino" class="btn btn-sidebar"
                   asp-page-class="active">
                    Gestori Bacino
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Coltivazione/Raccolto" class="btn btn-sidebar"
                   asp-page-class="active">
                    Raccolto
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Coltivazione/Esigenza" class="btn btn-sidebar"
                   asp-page-class="active">
                    Esigenza
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Coltivazione/Irrigazione" class="btn btn-sidebar"
                   asp-page-class="active">
                    Irrigazione
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Sensore/SensorType" class="btn btn-sidebar"
                   asp-page-class="active">
                    Tipologie sensori
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Azienda/Aziende" class="btn btn-sidebar"
                   asp-page-class="active">
                    Aziende
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Azienda/Campagne" class="btn btn-sidebar"
                   asp-page-class="active">
                    Campagne
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Azienda/Campi" class="btn btn-sidebar"
                   asp-page-class="active">
                    Campi
                </a>
            </div>
            <div>
                <a asp-page="/Admin/Bacino/Bacini" class="btn btn-sidebar"
                   asp-page-class="active">
                    Bacini
                </a>
            </div>
        </ul>
    </span>
</aside>