<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Azienda</title>
</head>
<body>
<span>
    <ul>
        @if (Model.user?.azienda == null)
        {
            <li>
                <a href="/Azienda/CreaAzienda">Aggiungi Azienda</a>
            </li>
        }
        else
        {
            <li>
                <a href="/Azienda/Statistiche">Statistiche Azienda</a>
            </li>
            <li>
                <a href="/Azienda/VisualizzaCampagna">Campagne</a>
            </li>
            <li>
                <a href="/Azienda/Coltivazioni">Coltivazioni</a>
            </li>
            <li>
                <a href="/Azienda/Richiesta">Richieste</a>
            </li>
        }
    </ul>
</span>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

</body>
</html>