@page
@using WaterManagerUI.Model.Item
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WaterManagerUI.Pages.VisualizzaColtivazioni

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a href="/Azienda/GestoreAzienda">Statistiche Azienda</a>
                        </div>
                        <div>
                            <a href="/Azienda/Visualizza/VisualizzaColtivazioni">Coltivazioni</a>
                        </div>
                        <div>
                            <a href="/Azienda/Visualizza/VisualizzaAttuatori">Attuatori</a>
                        </div>
                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="content">
                @if (Model.campo != null)
                {
                    <h2>Dettagli campo</h2>
                    <p>Nome campo: @Model.campo.nome</p>
                }
            </div>
            <div class="elements">
                @if (Model.campo.coltivazioni.Count > 0)
                {
                    @Html.Partial("layout/buttons/addButtons/_addColtivazione", Model.campo)

                    @foreach (Coltivazione coltivazione in Model.campo.storicoColtivazioni())
                    {
                        @Html.Partial("layout/details/_coltivazione", coltivazione)
                    }
                }
                else
                {
                    @Html.Partial("layout/buttons/addButtons/_addColtivazione", Model.campo)
                }
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>