@page
@model WaterManagerUI.Pages.Admin.Esigenza

<link rel="stylesheet" href="~/css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("layout/Admin/_SideMenuAdmin")
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    <h2>Visualizza tipologie esigenza</h2>
                </div>
            </div>

            @if (Model.esigenze.Any())
            {
                <div class="bottoni-azione">
                    <a asp-page="/Admin/Crea/CreaEsigenza" class="bottone-aggiungi" style="text-decoration: none; color: inherit; color: #13b400">Aggiungi esigenza</a>
                    <a asp-page="/Admin/Elimina/EliminaEsigenza" class="bottone-aggiungi" style="text-decoration: none; color: inherit; border: 2px dashed #ff0000; color: #ff0000">Elimina esigenza</a>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (String esigenza in Model.esigenze)
                    {
                        <tr>
                            <td>@esigenza</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <a asp-page="/Admin/Crea/CreaEsigenza" style="text-decoration: none; color: inherit; grid-column: span 4">
                    <div class="bottone-aggiungi">
                        Aggiungi esigenza
                    </div>
                </a>
            }
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>