@page
@model WaterManagerUI.Pages.Admin.Raccolto

<link rel="stylesheet" href="~/css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("layout/Admin/_SideMenuAdmin")
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    <h2>Visualizza tipologie raccolto</h2>
                </div>
            </div>

            @if (Model.raccolti.Any())
            {
                <div class="bottoni-azione">
                    <a asp-page="/Admin/Crea/CreaRaccolto" class="bottone-aggiungi" style="text-decoration: none; color: inherit; color: #13b400">Aggiungi raccolto</a>
                    <a asp-page="/Admin/Elimina/EliminaRaccolto" class="bottone-aggiungi" style="text-decoration: none; color: inherit; border: 2px dashed #ff0000; color: #ff0000">Elimina raccolto</a>
                </div>
            }
            else
            {
                <a asp-page="/Admin/Crea/CreaRaccolto" style="text-decoration: none; color: inherit; grid-column: span 4">
                    <div class="bottone-aggiungi">
                        Aggiungi raccolto
                    </div>
                </a>
            }

            @if (Model.raccolti.Any())
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (String raccolto in Model.raccolti)
                    {
                        <tr>
                            <td>@raccolto</td>
                        </tr>
                    }

                    </tbody>
                </table>
            }
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>