@page
@model WaterManagerUI.Pages.Admin.Raccolto

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Admin/Users/UsersAzienda">Gestori Azienda</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Users/UsersBacino">Gestori Bacino</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Coltivazione/Raccolto">Raccolto</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Coltivazione/Esigenza">Esigenza</a>
                        </div>
                        <div>
                            <a asp-page="/Admin/Coltivazione/Irrigazione">Irrigazione</a>
                        </div>
                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="content">
                <h2>Visualizza tipologie irrigazione</h2>
            </div>

            <div class="bottone-aggiungi">
                <a asp-page="/Admin/Crea/CreaRaccolto" class="plus-icon">+</a>
                <a asp-page="/Admin/Crea/CreaRaccolto">Aggiungi raccolto</a>
            </div>
            @if (Model.raccolti.Any())
            {
                <div class="bottone-elimina">
                    <a asp-page="/Admin/Elimina/EliminaRaccolto" class="minus-icon">-</a>
                    <a asp-page="/Admin/Elimina/EliminaRaccolto">Elimina raccolto</a>
                </div>
            }
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.raccolti.Any())
                {
                    @foreach (String raccolto in Model.raccolti)
                    {
                        <tr>
                            <td>@raccolto</td>
                        </tr>
                    }
                }
                else
                {
                    <div class="bottone-aggiungi">
                        <a asp-page="/Admin/Crea/CreaRaccolto" class="plus-icon">+</a>
                        <a asp-page="/Admin/Crea/CreaRaccoltoe">Aggiungi raccolto</a>
                    </div>
                }
                </tbody>
            </table>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>