@page
@using WaterManagerUI.Model.Item
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WaterManagerUI.Pages.layout.details
@model WaterManagerUI.Pages.VisualizzaColtivazioneCampagna

<link rel="stylesheet" href="~/css/Visualizza.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        @if (Model.user.azienda.campagne == null)
                        {
                            <div>
                                <a asp-page="/Azienda/CreaCampagna" class="btn btn-sidebar" asp-page-class="active">Aggiungi campagna</a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche Azienda</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Visualizza/campagna/VisualizzaCampagna" asp-route-aziendaId="@Model.campagna.id" class="btn btn-sidebar" asp-page-class="active">Campi</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Coltivazioni" class="btn btn-sidebar" asp-page-class="active">Coltivazioni</a>
                            </div>
                            <div>
                                <a asp-page="/Azienda/Richiesta" class="btn btn-sidebar" asp-page-class="active">Richieste</a>
                            </div>
                        }
                    </ul>
                </span>
            </aside>
        </div>
        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.user.azienda != null)
                    {
                        <h2>Dettagli Azienda</h2>
                        <p>Nome Azienda: @Model.user.azienda.nome</p>
                    }
                    else
                    {
                        <p>Nessuna azienda registrata. Utilizza il link a sinistra per aggiungere un'azienda.</p>
                    }
                </div>
            </div>
            <div class="elements">
                @if (Model.campagna.campi.Any())
                {
                    foreach (Campo campo in Model.campagna.campi)
                    {
                        @if (campo.coltivazioni.Any())
                        {
                            @Html.Partial("layout/details/_coltivazioneDetails", campo)
                        }
                    }
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>