@page
@model IndexModel


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-panel">
            <h2>Benvenuto in Water Manager</h2>
            <p>Gestisci le tue risorse idriche in modo efficiente</p>
        </div>
    </div>
</div>
