@page
@model WaterManagerUI.Pages.Login

<link rel="stylesheet" href="~/css/site.css"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-panel">
            <h2>Login</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="login.username"></label>
                    <input asp-for="login.username" class="form-control"/>
                    <span asp-validation-for="login.username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="login.password"></label>
                    <input asp-for="login.password" class="form-control" type="password"/>
                    <span asp-validation-for="login.password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-button">Login</button>
                </div>


            </form>
            <div class="form-group">
                <a href="/signin" class="btn btn-secondary">Login con GitHub</a>
            </div>
            <p>
                Non hai un account? <a asp-page="/Register">Registrati qui</a>.
            </p>
        </div>
    </div>
</div>