@page
@model WaterManagerUI.Pages.CreaAzienda

<link rel="stylesheet" href="~/css/form.css"/>
<link rel="stylesheet" href="~/css/site.css"/>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Crea azienda</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="nomeAzienda"></label>
                    <input asp-for="nomeAzienda" class="form-control"/>
                    <span asp-validation-for="nomeAzienda" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-button">Crea azienda</button>
                </div>
            </form>
        </div>
    </div>
</div>