/*.custom-button {
    display: inline-block;
    border: 3px dashed #16d918; 
    border-radius: 15px; 
    padding: 20px 40px; 
    font-size: 2em; 
    cursor: pointer;
    background-color: transparent;
    color: #000; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.custom-button:hover {
    background-color: #ff0000; 
}

 */

.main-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    flex: 0 0 200px; 
    background-color: #f3f3f3;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    display: block;
    padding: 10px 0;
}


