@page
@model WaterManagerUI.Pages.Modifica.campo.ModificaNomeCampo

<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/css/form.css"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Modifica nome campo</h2>
            <form method="post">

                <div class="form-group">
                    <p>Nome corrente: @Model.campo.nome</p>
                    <label asp-for="nomeNew">Nuovo nome campo</label>
                    <input asp-for="nomeNew" class="form-control"/>
                    <span asp-validation-for="nomeNew" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-button">Modifica nome</button>
                </div>
            </form>
        </div>
    </div>
</div>