@page
@model WaterManagerUI.Pages.Error.ServerOffline

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-panel">
            <h2 class="error">ERRORE SERVER OFFLINE</h2>
        </div>
    </div>
</div>