@page
@model WaterManagerUI.Pages.Error.UserNotLogged

<link rel="stylesheet" href="css/site.css"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-panel">
            <h2 class="error">ERRORE UTENTE NON LOGGATO</h2>
        </div>
    </div>
</div>