@page
@model WaterManagerUI.Pages.VisualizzaAttuatore

<link rel="stylesheet" href="css/site.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="flex-container">
                <span>
                    <ul>
                        <div>
                            <a asp-page="/Azienda/GestoreAzienda" class="btn btn-sidebar" asp-page-class="active">Statistiche Azienda</a>
                        </div>
                    </ul>
                </span>
            </aside>
        </div>

        <div class="col-md-8">
            <div class="main-container">
                <div class="content">
                    @if (Model.attuatore != null)
                    {
                        <h2>Dettagli attuatore</h2>
                    }
                </div>
            </div>
            <div class="elemento">
                <div class="info-elemento nome">Nome: @Model.attuatore.nome</div>
                <div class="info-elemento nome">Stato: @Model.attuatore.storicoAttivazioni().FirstOrDefault().current</div>
            </div>
            <div>
                <form method="post">
                    <div class="bottoni-azione">
                        @if (Model.attuatore.storicoAttivazioni().FirstOrDefault().current.Equals(false))
                        {
                            <button name="app" value="ON" type="submit" class="bottone-aggiungi" style="text-decoration: none; color: inherit; color: #13b400">Accendi attuatore</button>
                        }
                        else
                        {
                            <button name="app" value="OFF" type="submit" class="bottone-aggiungi" style="text-decoration: none; color: inherit; border: 2px dashed #ff0000; color: #ff0000">Spegni attuatore</button>
                        }
                    </div>
                </form>
            </div>
        </div>


        <div class="col-md-2">
        </div>
    </div>
</div>